<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>
            {{ title }}
        </title>
        {# This allows us to develop the stylesheet separately but generate self-contained reports: #}
        <style type="text/css" media="screen">
            {% include "check_site_report.css" %}
        </style>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
        jQuery(function($) {
            $("ul.url").each(function() {
                var list = $(this); // Avoid scoping issues with the nested function:
                var list_size = list.find("li").length;

                if (list_size < 7) return; // No point in altering a small list

                list.slideUp();

                $('<p class="toggle">Display (' + list_size + ')</p>').insertBefore(list).click(function() {
                    this._toggle_state = !this._toggle_state;

                    if (this._toggle_state) {
                        list.slideDown();
                    } else {
                        list.slideUp();
                    }

                    $(this).text(this._toggle_state ? "Hide": "Display (" + list_size + ")");
                });
            });
        });
        </script>
    </head>
    <body>
        <div id="report">
            <h1>{{ title }}</h1>
            <p class="details">
                Processed {{ urls_total }} URLs in {{ "%0.1f"|format(elapsed_time) }} seconds with {{ urls_error }} errors
            </p>

            {% for level in severity_levels if level in messages %}

                <h1 id="level">{{ severity_levels[level]|title }}</h1>
                {% for category in messages[level]|sort %}
                    <div class="{{ category }} {{ level }}">
                        <h2>{{ category|title }}</h2>

                        <table>
                            <thead>
                                <tr>
                                    <th>Message</th>
                                    <th>Pages</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for summary, data in messages[level][category]|dictsort %}
                                <tr>
                                    <td>{{ summary }}</td>
                                    <td>
                                        <ul class="url">
                                            {% for url in data['urls']|sort %}
                                            <li>{{ url|urlize }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            {% endfor %}

            <h1>All Pages</h1>
            <ul class="url page">
                {% for url in pages|sort %}
                    <li>{{ url|urlize }}</li>
                {% endfor %}
            </ul>

            <h1>All Resources</h1>
            <ul class="url resource">
                {% for url in resources|sort %}
                <li>{{ url|urlize }}</li>
                {% endfor %}
            </ul>


            <h1>All Media</h1>
            <ul class="url media">
                {% for url in media|sort %}
                <li>{{ url|urlize }}</li>
                {% endfor %}
            </ul>
        </div>

        <div id="footer">
            Generated by <a
            href="http://acdha.github.com/webtoolbox/tools/check_site.html">check_site</a>,
            part of the open source <a
            href="http://github.com/acdha/webtoolbox">webtoolbox</a> package
        </div>
    </body>
</html>
